/** biome-ignore-all lint/suspicious/noUnknownAtRules: <explanation> */
@import "tailwindcss";
@config "../tailwind.config.mjs";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) 0
		env(safe-area-inset-left);
}

/* iOS safe area for tabbar */
:root {
	--van-tabbar-item-icon-size: 22px;
}
